.body {
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Courier New", Courier, monospace;
}
/* three unequal columns */
.column {
  float: left;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.left,
.right {
  width: 25%;
  margin-top: 5px;
}
.mid {
  width: 45%;
  margin: 5px;
  padding: 5px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: larger;
}
.navigation-item {
  display: inline;
  padding: 10px;
}
/* keep image in container*/
.container {
  width: 100%;
}
.imgBox {
  display: inline-block;
  overflow: hidden !important;
  transition: 0.3s ease-in-out;
}
/* unvisited link */
a {
  text-decoration: none;
}
a:link {
  color: black;
}
/* visited link */
a:visited {
  text-decoration: double;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
h1 {
  text-align: center;
}
.note {
  font-size: x-small;
  color: grey;
  font-style: italic;
}
.note-in-article {
  font-size: small;
  color: grey;
  font-style: italic;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.align-center {
  text-align: center;
}
blockquote {
  padding-left: 10px;
  border-left: 1px solid grey;
  color: gray;
}
